/*
=-=-= header.css => './partials/mixins.css'
*/
@import url('./partials/mixins.css');

/*
=-=-= header.css => './partials/variables.css'
*/

/*
@import url('./partials/variables.css');
*/

/*
=-=-= header.css
*/

.main-header {
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--color-secondary);
    width: calc(100% - 120px);
    padding: 0 60px;
    justify-content: space-between;
    & .wrapper-logo {
        display: flex;
    }
    & img {
        max-width: 70px;
        align-self: center;
    }
    & h1 {
        border-left: 1px solid rgb(204, 204, 204);
        font-size: 14px;
        font-weight: 500;
        margin-left: 13px;
        padding: 10px 0 0 15px;
    }
}

.main_navigation_library {
  @mixin main_navigation_library;

  & ul {
    margin: 0;

    & a {
      text-decoration: none;
      color: inherit;
      padding: 1.125rem 0.3125rem;
      font-size: 12px;
      color: var(--color-primary);
      font-weight: 300;
    }

    & li {
      display: inline-block;
      padding-bottom: 18px;
      padding-top: 18px;
      font-weight: 600;
      color: var(--color-disabled);
      cursor: pointer;
      & + li {
        margin-left: 40px;
      }
      &.active {
        color: black;
        border-bottom: 3px solid var(--color-primary);
        padding-bottom: 15px;
      }
    }
  }
}

.preferences {
  position: relative;
  float: right;
}

/* ============ SECONDARY NAVIGATION =============== */

.nav_secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--color-light-grey);
  background-color: var(--color-secondary);
  position: fixed;
  left: 0;
  width: calc(100% - 120px);
  height: 3.5rem;
  padding: 5px 60px;
  z-index: 1;
  top: 50px;
  min-width: 600px;
  padding-left: 60px;
  padding-right: 60px;

  & form {
    display: inline-block;
    border-bottom: 1px solid #c1c1c1;
    margin-left: 40px;
    height: auto;
  }

  & input[type=search] {
    position: relative;
    width: 225px;
    border-radius: 0;
    border: none;
    height: 35px;
    background-color: transparent;
    color: black;
    font-size: 0.9rem;
  }

  & input[type=search]::placeholder {
    font-size: 0.9rem;
    font-weight: 300;
    color: #c1c1c1;
  }

  & form button {
    position: relative;
    top: 10px;
    height: 38px;
    width: 36px;
    background-color: transparent;
  }

  & form[role="search"] {
    margin: 0 30px;
    flex: 1;

    & input {
      width: 100% !important;
    }
  }
}

.nav_secondary svg {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
}

.nav_secondary svg:nth-child(2) {
  margin-left: 20px;
}

.skip_link {
  position: absolute;
  left: -2000px;

  &:focus {
    left: unset;
    left: 0;
    width: fit-content;
    top: 0;
    opacity: 1;
    height: unset;
    z-index: 150;
    font-size: 1rem;
    padding: 1rem;
    color: white;
    background-color: #0366d6;
  }
}

.___DEBUG___HEADER_CSS {
  display: none;
}
